# avoid uploading sensitive information
**/api_key.py
**/__pycache__/

# Distribution / packaging
.Python

# avvoid uploading templates
**/templates/
# avoid uploading literature
**/literature (internal)/