# avoid uploading sensitive information
**/api_key.py
**/API_key.py
**/__pycache__/

# Distribution / packaging
.Python

# avvoid uploading templates
**/templates/
# avoid uploading literature
**/literature (internal)/
# avoid uploading meta data of the rpubs server
**/rsconnect/



### 4 summarize literature
# local supabase server
**/.branches
**/.temp/

# do not upload any local DBs
**/DB_Chroma

# do not upload any scientific PDFs
**/PDFs/*.pdf
**/PDFs/AIregulation/
**/PDFs/AIregulation_query2/
**/PDFs/livmats/
**/tmp_downloads/


# online study
**/study interact with LLM/


# avoid pushing files of fine tuned model:
**/finetuned-dataset/
**/tmp_trainer/

**/zz_backups/